node_modules
src
jest.config.js
tsconfig.json
tsconfig.browser.json
.vscode
.circleci
.prettierrc.js 
.eslintrc.js
.eslintignore
.gitattributes
.gitignore
.github
CHANGELOG.md
CONTRIBUTING.md
STRUCTURE.md
.npmignore